:root {
    --nc-tx-1: #FFFFFF;
    --nc-tx-2: #B7B7B7;
    --nc-bg-1: #1E272C;
    --nc-bg-2: #161d21;
    --nc-bg-3: #263238;
    --nc-lk-1: #5E92FF;
    --nc-lk-2: #528aff;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #C3E88D;
    --nc-ac-tx: #263238;
}
