@import url("https://fonts.xz.style/serve/fira-code.css");

:root {
	--nc-font-sans: 'Fira Code', monospace;
	--nc-font-mono: 'Fira Code', monospace;
	--nc-tx-1: #FFFFFF;
	--nc-tx-2: #EEEEEE;
	--nc-bg-1: #000000;
	--nc-bg-2: #002700;
	--nc-bg-3: #005800;
	--nc-lk-1: #00FF00;
    --nc-lk-2: #00c200;
    --nc-lk-tx: #000000;
    --nc-ac-1: #00FF00;
    --nc-ac-tx: #000000;
}